<%= form_for(@cio) do |f| %>
  <% if @cio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cio.errors.count, "error") %> prohibited this cio from being saved:</h2>

      <ul>
      <% @cio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :animal %>
    <%= f.collection_select( :animal_id, Animal.all, :id, :identificacaoNome) %>
  </div>
  <div class="field">
    <%= f.label :data_cio %>
    <%= f.date_select :data_cio %>
  </div>
  <div class="field">
    <%= f.label :previsao_proximo %>
    <%= f.date_select :previsao_proximo %>
  </div>
  <div class="actions">
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>
