<%= nested_form_for(@cio) do |f| %>
  <% if @cio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cio.errors.count, "error") %> prohibited this cio from being saved:</h2>

      <ul>
      <% @cio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :animal %>
    <%= f.collection_select( :animal_id, Animal.propriedade(current_usuario).ativo, :id, :identificacaoNome) %>
  </div>
  <%= f.fields_for :cobertura do |c| %>
  	<%= c.label :cobertura %>
  	<%= c.collection_select( :animal_id, Animal.propriedade(current_usuario).macho.ativo, :id, :identificacaoNome )%>
  <% end %>	
  <div id="sandbox-container">
  	<%= f.label :data_cio %>
    <%= f.text_field :data_cio %>
  </div>  
  <div id="sandbox-container">
  	<%= f.label :previsao_proximo %>
    <%= f.text_field :previsao_proximo %>
  </div>   
   <script>
  	$('#sandbox-container input').datepicker({
    	language: "pt-BR",
    	format : 'yyyy/mm/dd',
    	calendarWeeks: true,
    	autoclose: true,
    	todayHighlight: true
	});
  </script>
  <div class="actions">
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>
