<div class="panel panel-default">
  <div class="panel-heading">
    <span class="page-title animais">Cios</span>
    <%= link_to 'Novo cio', new_cio_path, class: 'novo-animal-link' %>
    <table class="table table-condensed">
  	  <thead>
        <tr>
          <th>Animal no cio</th>
      	  <th>Data cio</th>
      	  <th>Cobertura</th>
      	  <th>Previsao proximo</th>
      	  <th colspan="3"></th>
    	</tr>
  	  </thead>
  	  <tbody>
    	<% @cios.each do |cio| %>
      	  <tr>
      	  	<td><%= cio.animal.identificacaoNome %></td>
        	<td><%= cio.data_cio %></td>
        	<td><%= cio.cobertura.animal.identificacaoNome rescue '' %></td>
        	<td><%= cio.previsao_cio.data rescue '' %></td>
        	<td><%= link_to 'Abrir', cio %></td>
        	<td><%= link_to 'Editar', edit_cio_path(cio) %></td>
        	<td><%= link_to 'Excluir', cio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	  </tr>
    	<% end %>
  	  </tbody>
	</table>
  </div>
</div>  	

