<p id="notice"><%= notice %></p>

<p>
  <strong>Data cio:</strong>
  <%= @cio.data_cio %>
</p>

<p>
  <strong>Previsao proximo:</strong>
  <%= @cio.previsao_proximo %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @cio.animal %>
</p>

<%= link_to 'Edit', edit_cio_path(@cio) %> |
<%= link_to 'Back', cios_path %>
