<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @cio.animal.identificacaoNome %>
</p>

<p>
  <strong>Data cio:</strong>
  <%= @cio.data_cio %>
</p>

<%= link_to 'Editar', edit_cio_path(@cio) %> |
<%= link_to 'Voltar', cios_path %>
