<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <%= f.hidden_field :propriedade_id, :value => current_usuario.propriedade_id %>
	
  <div class="foto-input field">
    <% if @animal.foto_principal %>
      <%# filepicker_image_tag @animal.foto_principal, w:400, h:400, fit:'clip' %>
    <% else %>

    <% end %>
    <%# f.filepicker_field :foto_principal %>
  </div>
  <div class="field">
    <%= f.label :identificacao %>
    <%= f.text_field :identificacao, class: 'input' %>
  </div>
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: 'input' %>
  </div>
  <div id="sandbox-container">
  	<%= f.label :data_nascimento%>
    <%= f.text_field :data_nascimento, class: 'input' %>
  </div>   
   <script>
  	$('#sandbox-container input').datepicker({
    	language: "pt-BR",
    	format : 'yyyy/mm/dd',
    	calendarWeeks: true,
    	autoclose: true,
    	todayHighlight: true
	});
  </script>
  <div class="field">
  	 <%= f.label :raca %>
     <%= f.collection_select( :raca_id, Raca.all, :id, :nome ) %>
     <%= link_to 'Nova raça', new_raca_path %>
  </div>	
  <div class="field">
  	 <%= f.label :classificacao %>
     <%= f.collection_select( :classificacao_id, Classificacao.all, :id, :descricao ) %>
     <%= link_to 'Nova classificação', new_classificacao_path %>
  </div>	
  <div class="field">
    <%= f.label :sexo %>
    <%= f.select :sexo, options_for_select(["F", "M"]), :class => 'genForm_dropBox' %>
  </div>
  <div class="field">
    <%= f.label :ativo %>
    <%= f.check_box :ativo %>
  </div>
  <div class="field">
    <%= f.label :lactacao %>
    <%= f.check_box :lactacao %>
  </div>
  <div class="field">
    <%= f.label :nascido_na_propriedade %>
    <%= f.check_box :nascido_na_propriedade %>
  </div>
  <div class="field">
    <%= f.label :informacoes %>
    <%= f.text_area :informacoes, :size => "25x4" %>
  </div>
  <div class="actions">
    <%= f.submit 'Cadastrar'%>
  </div>
<% end %>	
