<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <%= f.hidden_field :propriedade_id, :value => current_usuario.propriedade_id %>
	
  <div class="foto-input field">
    <% if @animal.foto_principal %>
      <% # filepicker_image_tag @animal.foto_principal, w:400, h:400, fit:'clip' %>
    <% else %>

    <% end %>
    <% # f.filepicker_field :foto_principal %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :nome, class: 'form-control animal-input', placeholder: "Nome" %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :identificacao, class: 'form-control animal-input', placeholder: "Identificação" %>
    </div>
    <div id="sandbox-container" class="col-md-3">
      <%= f.text_field :data_nascimento, class: 'form-control animal-input', placeholder: "Data de nascimento" %>
    </div>   
  </div>
   <script>
  	$('#sandbox-container input').datepicker({
    	language: "pt-BR",
    	format : 'yyyy/mm/dd',
    	calendarWeeks: true,
    	autoclose: true,
    	todayHighlight: true
	});
  </script>
  <hr>
  <div class="row">
    <div class="field col-md-4">
      <%= f.label :raca %>
      <%= f.collection_select( :raca_id, Raca.all, :id, :nome, {}, {class: "form-control animal-input"}) %>
    </div>	
    <div class="field col-md-4">
      <%= f.label :classificacao %>
      <%= f.collection_select( :classificacao_id, Classificacao.all, :id, :descricao, {}, {class: "form-control animal-input"}) %>
      <%= link_to 'Nova classificação', new_classificacao_path, remote: true, class: "btn btn-xs btn-primary"%>
    </div>	
    <div class="field col-md-4">
      <%= f.label :sexo %>
      <%= f.select :sexo, enum_option_pairs(Animal, :sexo), {}, {class: "form-control"} %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="field col-md-4">
      <label>
        <%= f.check_box :ativo %> Ativo
      </label>
    </div>
    <div class="field col-md-4">
      <label>
        <%= f.check_box :lactacao %> Em lactação
      </label>
    </div>
    <div class="col-md-4">
      <label>
      <%= f.check_box :nascido_na_propriedade %> Nascido na propriedade
      </label>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <%= f.text_area :informacoes, :size => "25x4", class:'form-control', placeholder: "Informações" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="actions col-md-12">
      <%= link_to 'Voltar', animais_path, class: "btn btn-md btn-danger" %>
      <%= f.submit 'Cadastrar', class: "btn btn-md btn-success" %>
    </div>
  </div>
<% end %>	
