<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identificacao %>
    <%= f.text_field :identificacao %>
  </div>
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div class="field" >
    <%= f.label :data_nascimento %>
    <%= f.date_select :data_nascimento %>
  </div>
  <div class="field">
  	 <%= f.label :raca %>
     <%= f.collection_select( :raca_id, Raca.all, :id, :nome ) %>
     <%= link_to 'Nova raça', new_raca_path %>
  </div>	
  <div class="field">
  	 <%= f.label :classificacao %>
     <%= f.collection_select( :classificacao_id, Classificacao.all, :id, :descricao ) %>
     <%= link_to 'Nova classificação', new_classificacao_path %>
  </div>	
  <div class="field">
    <%= f.label :sexo %>
    <%= f.select :sexo, options_for_select(["F", "M"]), :class => 'genForm_dropBox' %>
  </div>
  <div class="field">
    <%= f.label :ativo %>
    <%= f.check_box :ativo %>
  </div>
  <div class="field">
    <%= f.label :lactacao %>
    <%= f.check_box :lactacao %>
  </div>
  <div class="field">
    <%= f.label :nascido_na_propriedade %>
    <%= f.check_box :nascido_na_propriedade %>
  </div>
  <div class="field">
    <%= f.label :informacoes %>
    <%= f.text_area :informacoes, :size => "25x4" %>
  </div>
  <div class="actions">
    <%= f.submit 'Cadastrar'%>
  </div>
<% end %>	
