<h1>Lista de animais</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Identificacao</th>
      <th>Nome</th>
      <th>Raça</th>
      <th>Classificacao</th>
      <th>Data nascimento</th>
      <th>Sexo</th>
      <th>Ativo</th>
      <th>Lactacao</th>
      <th>Nascido na propriedade</th>
      <th>Informacoes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animais.each do |animal| %>
      <tr>
        <td><%= animal.identificacao %></td>
        <td><%= animal.nome %></td>
        <td><%= animal.raca.nome %></td>
        <td><%= animal.classificacao.descricao %></td>
        <td><%= animal.data_nascimento %></td>
        <td><%= animal.sexo %></td>
        <td><%= animal.ativo %></td>
        <td><%= animal.lactacao %></td>
        <td><%= animal.nascido_na_propriedade %></td>
        <td><%= animal.informacoes %></td>
        <td><%= link_to 'abrir', animal %></td>
        <td><%= link_to 'editar', edit_animal_path(animal) %></td>
        <td><%= link_to 'excluir', animal, method: :delete, data: { confirm: 'Deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo animal', new_animal_path %>
