<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4">
        <h3>Animais</h3>
      </div>
      <div class="col-md-6">
        <span>Filtros: </span>
        <%= select_tag( options_for_select( [[], ['Todos', ''], ['Ativos', '?ativo=true'],
                                          ['Lactação', '?lactacao=true'], ['Nascido na prop.', '?nascido_propriedade=true']]),{}, :id => "filtro-select") %>
        <input type="button" class="btn btn-md btn-default" id="filtro-link" value="Filtrar" />
        <input type="button" class="btn btn-md btn-default" id="relatorio" value="Relatorio" />
      </div>
      <div class="col-md-2">
        <%= link_to 'Novo animal', new_animal_path, class: 'btn btn-primary btn-xs' %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Identificacao</th>
          <th>Nome</th>
          <th>Raça</th>
          <th>Classificacao</th>
          <th>Data nasc.</th>
          <th>Sexo</th>
          <th>Ativo</th>
          <th>Lactação</th>
          <th>Nasc. na Prop.</th>
          <th>Informaçẽos</th>
        </tr>
      </thead>

      <tbody>
        <% @animais.each do |animal| %>
          <tr onclick="window.location = '<%= animal_path animal %>'">
            <td><%= animal.identificacao %></td>
            <td><%= animal.nome %></td>
            <td><%= animal.raca.nome %></td>
            <td><%= animal.classificacao.descricao %></td>
            <td><%= animal.data_nascimento %></td>
            <td><%= animal.sexo %></td>
            <td><%= t_f(animal.ativo) %></td>
            <td><%= t_f(animal.lactacao) %>
            <td><%= t_f(animal.nascido_na_propriedade) %>
            <td><%= animal.informacoes %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
