
<table>
  <theader>
    <th>Ident.</th>
    <th>Nome</th>
    <th>Raca</th>
    <th>Classificacao</th>
    <th>Data nasc.</th>
    <th>Sexo</th>
    <th>Ativo</th>
    <th>Lactacao</th>
    <th>Nasc. Prop.</th>
    <th>Informacoes</th>		
  </theader>
  <tbody>	
    <% @animais.each do |animal| %> 
      <tr>
        <td><%= animal.identificacao %></td>
        <td><%= animal.nome %></td>
        <td><%= animal.raca.nome %></td>
        <td><%= animal.classificacao.descricao %></td>
        <td><%= animal.data_nascimento %></td>
        <td><%= animal.sexo %></td>
        <td><%= t animal.ativo.class %></td>
        <td><%= t animal.lactacao.class %></td>
        <td><%= t animal.nascido_na_propriedade.class %></td>
        <td><%= animal.informacoes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
