<p id="notice"><%= notice %></p>
<div class='panel panel-default'>
  <p>
  <strong>Identificacao:</strong>
  <%= @animal.identificacao %>
  </p>

  <p>
  <strong>Nome:</strong>
  <%= @animal.nome %>
  </p>

  <p>
  <strong>Raça:</strong>
  <%= @animal.raca.nome %>
  </p>

  <p>
  <strong>Classificacao:</strong>
  <%= @animal.classificacao.descricao %>
  </p>

  <p>
  <strong>Data nascimento:</strong>
  <%= @animal.data_nascimento %>
  </p>

  <p>
  <strong>Sexo:</strong>
  <%= @animal.sexo %>
  </p>

  <p>
  <p>
  <% if !@animal.cios.empty? %>
    <strong>Data de cio prevista:</strong>
  <%= @animal.cios.last.data_cio%>
<% end %>  	
  </p>	

  <p>
  <strong>Ultima pesagem:</strong>
  <% if !@animal.pesagens.empty? %> 
    <%= @animal.pesagens.last.peso %> Kg
<% end %>
  <%= link_to 'Nova pesagen', new_pesagem_path %>	
  </p>

  <p>
  <strong>Ativo:</strong>
  <%= @animal.ativo %>
  </p>

  <p>
  <strong>Lactacao:</strong>
  <%= @animal.lactacao %>
  </p>

  <p>
  <strong>Nascido na propriedade:</strong>
  <%= @animal.nascido_na_propriedade %>
  </p>

  <p>
  <strong>Informacoes:</strong>
  <%= @animal.informacoes %>
  </p>

  <div id="nova-vacina" style="display:none">
    <h2>Agendar vacina</h2> 	
    <%= render 'vacinas/form' %>
  </div>

  <a id='nova-vacina-button'>Nova vacina</a><br>

  <div id="novo-exame" style="display:none">
    <h2>Agendar exame</h2> 	
    <%= render 'exames/form' %>
  </div>

  <a id='novo-exame-button'>Novo exame</a><br>

  <%= link_to 'Editar', edit_animal_path(@animal) %> |
  <%= link_to 'Voltar', animais_path %>
</div>
