<p id="notice">
	<%= notice %>
</p>
<div class='panel panel-default'>
	<h2 class='left'>Dados do animal</h2>
	<div class="dados-animal">
		<p>
			<strong>Identificacao:</strong>
			<%= @animal.identificacao %>
		</p>

		<p>
			<strong>Nome:</strong>
			<%= @animal.nome %>
		</p>

		<p>
			<strong>Raça:</strong>
			<%= @animal.raca.nome %>
		</p>

		<p>
			<strong>Classificacao:</strong>
			<%= @animal.classificacao.descricao %>
		</p>

		<p>
			<strong>Data nascimento:</strong>
			<%= @animal.data_nascimento %>
		</p>

		<p>
			<strong>Sexo:</strong>
			<%= @animal.sexo %>
		</p>

		<p>
			<% if !@animal.cios.empty? %>
			<strong>Data de cio prevista:</strong>
			<% cio = @animal.cios.last %>
			<%= cio.data_cio %></br>
			<Strong>Cobertura prevista:</strong>
			<%= cio.cobertura.animal.identificacaoNome rescue ''%>
			<% end %>
		</p>
		
		<p>
			<p id="peso">
				<strong>Ultima pesagem:</strong>
				<% if !@animal.pesagens.empty? %>
					<% peso = @animal.pesagens.last %>
					<%= peso.peso %> 
					<%= peso.unidade.abreviacao %>
			</p>
				<p><%= link_to 'Historico de pesagens', "/animal/#{@animal.id}/pesagens" %></p>
				<% end %>
				
			<div id="nova-pesagem" class="container" style="display:none">
				<h2>Nova Pesagem</h2>
				<%= render 'pesagens/form' %>
				<a id="ocultar-pesagem">Cancelar</a>
			</div>
			<p id='nova-pesagem-button'>Nova pesagem </p>
		</p>

		<p>
			<strong>Ativo:</strong>
			<%= t @animal.ativo.class %>
		</p>

		<p>
			<strong>Lactacao:</strong>
			<%= t @animal.lactacao.class %>
		</p>

		<p>
			<strong>Nascido na propriedade:</strong>
			<%= t @animal.nascido_na_propriedade.class %>
		</p>

		<p>
			<strong>Informacoes:</strong>
			<%= @animal.informacoes %>
		</p>

		<div id="nova-vacina" class="container" style="display:none">
			<h3>Agendar vacina</h3>
			<%= render 'vacinas/form' %>
			<a id="ocultar-vacina">Cancelar</a>
		</div>

		<p>
			<a id='nova-vacina-button'>Nova vacina</a> |
			<%= link_to 'Historico de vacinas', "/animal/#{@animal.id}/vacinas" %>
		</p>
		
		<div id="novo-exame" class="container" style="display:none">
			<h3>Agendar exame</h3>
			<%= render 'exames/form' %>
			<a id="ocultar-exame">Cancelar</a>
		</div>

		<p>
			<a id='novo-exame-button'>Novo exame</a>    |
			<%= link_to 'Historico de exames', "/animal/#{@animal.id}/exames" %>
		</p>
	
		<div>
			<h3>Doenças</h3>
			<p>
				<%= link_to 'Doenças do animal', "/animal/#{@animal.id}/doencas" %>
			</p>
		</div>

		<div id="vincular-dieta">
			<h3>Vincular dieta</h3>
			<p>
				<strong>Dieta atual:</strong>
				<% if !@animal.dietas.blank? %>
					<% dieta = @animal.dietas.ativa.last %>
					<%= link_to dieta.descricao, dieta_path(dieta) %>
				<% end %>
			</p>
			<%= form_for @animal do |f| %>
				<%= f.fields_for :animal_dieta do |d| %>
					<%if d.object.id.nil? %>
						<%= d.hidden_field :data_inicio, :value => Date.today %>
						<%= d.collection_select :dieta_id, Dieta.propriedade(current_usuario), :id, :descricao %>
					<%elsif d.object.data_fim.nil? %>
						<%= d.hidden_field :data_fim, :value => Date.today %>
					<% end %>
				<% end %>
				<%= f.submit "Vincular", :class => "btn btn-xs btn-primary"%>
			<% end %>
		</div>

		<%= link_to 'Editar', edit_animal_path(@animal) %> |
		<%= link_to 'Voltar', animais_path %>
	</div>
</div>
