<div class="well">
  <h3 class="page-header">Nova conta</h3>
  <%= form_for(@conta) do |f| %>
    <% if @conta.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@conta.errors.count, "error") %> prohibited this conta from being saved:</h2>
        <ul>
        <% @conta.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :propriedade_id, value: current_usuario.propriedade.id %>
    <div class="row form-group">
      <div class="col-md-6">
        <%= f.text_field :descricao, class: "form-control", placeholder: "Descrição" %>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <%= f.number_field :saldo, class: "form-control", placeholder: "Saldo", step: 0.00 %>
      </div>
    </div>
    <div class="row from-group">
      <div class="col-md-6 checkbox">
        <label>
          <%= f.check_box :ativa, {checked: true} %> Ativa
        </label>
      </div>
    </div>
    <%= f.submit "Criar conta", class: "btn btn-md btn-success" %>
  <% end %>
</div>
