<h1>Listing dieta</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dieta.each do |dietum| %>
      <tr>
        <td><%= dietum.descricao %></td>
        <td><%= link_to 'Show', dietum %></td>
        <td><%= link_to 'Edit', edit_dietum_path(dietum) %></td>
        <td><%= link_to 'Destroy', dietum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dietum', new_dietum_path %>
