<%= form_for(@classificacao, remote: true, html: { class: "form-horizontal", style: "display:inline;" }) do |f| %>
  <% if @classificacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classificacao.errors.count, "error") %> prohibited this classificacao from being saved:</h2>

      <ul>
      <% @classificacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: "btn btn-primary"%>
  </div>
<% end %>
