<%= form_for(@pesagem) do |f| %>
  <% if @pesagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pesagem.errors.count, "error") %> prohibited this pesagem from being saved:</h2>

      <ul>
      <% @pesagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @animal %>
    <% p "passou" %>
    <%= f.hidden_field :animal_id, :value => @animal.id %>
  <% else %>
    <div class="field">
      <%= f.label :animal %>
      <%= f.collection_select( :animal_id, Animal.all, :id, :identificacaoNome ) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :peso %>
    <%= f.number_field :peso %>
  </div>
  <div class="field">
    <%= f.label :data_pesagem %>
    <%= f.date_select :data_pesagem %>
  </div>
  <div class="actions">
    <%= f.submit 'Cadastrar '%>
  </div>
<% end %>
