<% animal = params[:animal] %>
<div class="modal-body">
  <%= form_for(@pesagem, remote: true) do |f| %>
    <%= f.hidden_field :animal_id , :value => animal %>
    <div class="row">
      <div class="col-md-4 form-inline form-group">
        <%= f.number_field :peso, class: "form-control", placeholder: "Peso" %>
        <%= f.collection_select(:unidade_id, Unidade.all, :id, :abreviacao, {prompt: "Unidade"}, {class: "form-control"}) %>
      </div>
    </div>
    <div class="row">
      <div id="sandbox-container" class="col-md-4 form-group" >
        <%= f.text_field :data_pesagem, class: "form-control", placeholder: "Data de pesagem" %>
      </div>
    </div>
    <script>
      $('#sandbox-container input').datepicker({
        language : "pt-BR",
        format : 'yyyy/mm/dd',
        calendarWeeks : true,
        autoclose : true,
        todayHighlight : true
      }); 
    </script>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit 'Cadastrar', class: "btn btn-md btn-primary" %>
</div>
<% end %>
