<p id="notice">
	<%= notice %>
</p>

<div class='panel panel-default'>
	<h2 class='left'>Doença</h2>
	<div class="dados-animal">

		<p>
			<strong>Nome:</strong>
			<%= @doenca.nome %>
		</p>

		<p>
			<strong>Descricao:</strong>
			<%= @doenca.descricao %>
		</p>

		<%= link_to 'Editar', edit_doenca_path(@doenca) %> |
		<%= link_to 'Voltar', doencas_path %>
	</div>
</div>
