<p id="notice">
	<%= notice %>
</p>

<div class='panel panel-default'>
	<h2 class='left'>Medicamento</h2>
	<div class="dados-animal">

		<p>
			<strong>Nome:</strong>
			<%= @medicamento.nome %>
		</p>

		<p>
			<strong>Tipo medicamento:</strong>
			<%= @medicamento.tipo_medicamento.descricao %>
		</p>

		<%= link_to 'Editar', edit_medicamento_path(@medicamento) %> |
		<%= link_to 'Voltar', medicamentos_path %>
	</div>
</div>
