<div class="field ciclo-partial">
  <%= f.label 'Período' %><br>
  <%= f.text_field :descricao %>
  <%= f.link_to_remove "Remover período" %>
</div>
<%= f.fields_for :medidas%>
<p><%= f.link_to_add "Adicionar alimento", :medidas %></p>
