<div class="field ciclo-partial">
  <%= f.label :descricao %><br>
  <%= f.text_field :descricao %>
  <%= f.link_to_remove "Remove" %>
</div>
<%= f.fields_for :medidas%>
<p><%= f.link_to_add "Add medida", :medidas %></p>
