<div class="field medida-partial">
  <%= f.label "Quantidade" %><br>	
  <%= f.text_field :quantidade %>
  <%= f.collection_select :unidade_id, Unidade.all, :id, :abreviacao %>
  <%= f.collection_select :alimento_id, Alimento.all, :id, :descricao %>
  <%= f.link_to_remove "Remover alimento"%>
</div>
