<p id="notice">
	<%= notice %>
</p>
<div class='panel panel-default'>
	<h2 class='left'>Dieta</h2>
	<div class="dados-animal">
		<p>
			<strong>Dieta:</strong>
			<%= @dieta.descricao %>
		</p>
		<% @dieta.ciclos.each do |ciclo| %>
			<Strong>Periodo:</strong>	
			<%= ciclo.descricao %></br>
			<span>Alimento: </span>
			<ul>
			<% ciclo.medidas.peso(ciclo).each do |medida| %>
				<li>
					<%= medida.alimento.descricao %>
					<%= medida.quantidade %>
					<%= medida.unidade.abreviacao%>
				</li>
			<% end %>
			</ul>
			</br>
		<% end %>
		<%= link_to 'Editar', edit_dieta_path(@dieta) %>
		<%= link_to 'Voltar', dietas_path %>
	</div>
</div>
