<%= form_for(@proprietario) do |f| %>
  <% if @proprietario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proprietario.errors.count, "error") %> prohibited this proprietario from being saved:</h2>

      <ul>
      <% @proprietario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :data_nascimento %><br>
    <%= f.date_select :data_nascimento %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
