<%= form_for(@raca) do |f| %>
  <% if @raca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raca.errors.count, "error") %> prohibited this raca from being saved:</h2>

      <ul>
      <% @raca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar'%>
  </div>
<% end %>
