<div class="panel panel-default">
	<div class="panel-heading">
		<span class="page-title animais">Raças</span>
		<%= link_to 'Nova Raça', new_raca_path, class: 'novo-animal-link' %>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Nome</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @racas.each do |raca| %>
					<tr>
						<td><%= raca.nome %></td>
						<td><%= link_to 'Abrir', raca %></td>
						<td><%= link_to 'Editar', edit_raca_path(raca) %></td>
						<td><%= link_to 'Excluir', raca, method: :delete, data: { confirm: 'Are you sure?' } %></td>								
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

