<%= form_for(@ordenha) do |f| %>
  <% if @ordenha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordenha.errors.count, "error") %> prohibited this ordenha from being saved:</h2>

      <ul>
      <% @ordenha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= f.label :animal %>
    <%= f.collection_select( :animal_id, Animal.propriedade(current_usuario), :id, :identificacaoNome )%>
  </div>
  <div class="field">
    <%= f.label :quantidade %>
    <%= f.text_field :quantidade %>
  </div>
   <div class="field">
    <%= f.label :periodo %>
    <%= f.number_field :periodo %>
  </div>
  <div id="sandbox-container" >
	<%= f.label :data %>
	<%= f.text_field :data %>
	</div>
<script>
	$('#sandbox-container input').datepicker({
		language : "pt-BR",
		format : 'yyyy/mm/dd',
		calendarWeeks : true,
		autoclose : true,
		todayHighlight : true
	}); 
</script>
  <div class="actions">
    <%= f.submit 'Salvar'%>
  </div>
<% end %>
