<h1>Listing ordenhas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Periodo</th>
      <th>Quantidade</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenhas.each do |ordenha| %>
      <tr>
        <td><%= ordenha.data %></td>
        <td><%= ordenha.periodo %></td>
        <td><%= ordenha.quantidade %></td>
        <td><%= ordenha.animal %></td>
        <td><%= link_to 'Show', ordenha %></td>
        <td><%= link_to 'Edit', edit_ordenha_path(ordenha) %></td>
        <td><%= link_to 'Destroy', ordenha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordenha', new_ordenha_path %>
