<p id="notice">
	<%= notice %>
</p>

<div class='panel panel-default'>
	<h2 class='left'>Ordenha</h2>
	<div class="dados-animal">

		<p>
			<strong>Data:</strong>
			<%= @ordenha.data %>
		</p>

		<p>
			<strong>Periodo:</strong>
			<%= @ordenha.periodo %>
		</p>

		<p>
			<strong>Quantidade:</strong>
			<%= @ordenha.quantidade %>
		</p>

		<p>
			<strong>Animal:</strong>
			<%= @ordenha.animal %>
		</p>

		<%= link_to 'Editar', edit_ordenha_path(@ordenha) %> |
		<%= link_to 'Voltar', ordenhas_path %>
	</div>
</div>
