<% remoto = false %>
<% if @animal %>
	<% remoto = true  %>
<% end %>	

<%= form_for(@vacina, remote: remoto) do |f| %>
  <% if @vacina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacina.errors.count, "error") %> prohibited this vacina from being saved:</h2>

      <ul>
      <% @vacina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @animal %> 
    <%= f.hidden_field :animal , :value => @animal.id %>
  <% else %>
    <div class="field">
      <%= f.label :animal %>
      <%= f.collection_select( :animal , Animal.propriedade(current_usuario), :id, :identificacaoNome ) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :tipo_vacina %>
    <%= f.collection_select( :tipo_vacina , TipoVacina.all, :id, :descricao) %>
    <%= link_to 'Novo tipo vacina', new_tipo_vacina_path %>
  </div>
   <div class="field">
    <%= f.label :medicamento %>
    <%= f.collection_select( :medicamento , Medicamento.all, :id, :nomeTipo) %>
      <%= link_to 'Novo medicamento', new_medicamento_path %>
  </div>
   <div class="field">
    <%= f.label :dosagem %>
    <%= f.text_field :dosagem %>
    <%= f.collection_select(:unidades, Unidades.all, :id, :abreviacao) %>
  </div>
  <div id="sandbox-container">
  	<%= f.label :data_vacina %>
    <%= f.text_field :data_vacina %>
  </div>   
   <script>
  	$('#sandbox-container input').datepicker({
    	language: "pt-BR",
    	format : 'yyyy/mm/dd',
    	calendarWeeks: true,
    	autoclose: true,
    	todayHighlight: true
	});
  </script>
  <div class="field">
    <%= f.label :efetuada %>
    <%= f.check_box :efetuada %>
  </div>
  <div class="actions">
    <%= f.submit 'Cadastrar', class: "btn btn-md btn-primary" %>
  </div>
<% end %>
