<%= form_for(@vacina) do |f| %>
  <% if @vacina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacina.errors.count, "error") %> prohibited this vacina from being saved:</h2>

      <ul>
      <% @vacina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :animal_id %>
    <%= f.collection_select( :animal_id, Animal.all, :id, :identificacaoNome ) %>
  </div>
  <div class="field">
    <%= f.label :tipo_vacina %>
    <%= f.collection_select( :tipo_vacina_id, TipoVacina.all, :id, :descricao) %>
    <%= link_to 'Novo tipo vacina', new_tipo_vacina_path %>
  </div>
   <div class="field">
    <%= f.label :medicamento %>
    <%= f.collection_select( :medicamento_id, Medicamento.all, :id, :nomeTipo) %>
      <%= link_to 'Novo medicamento', new_medicamento_path %>
  </div>
   <div class="field">
    <%= f.label :dosagem %>
    <%= f.text_field :dosagem %>
  </div>
  <div class="field">
    <%= f.label :data_vacina %>
    <%= f.date_select :data_vacina %>
  </div>
  <div class="field">
    <%= f.label :efetuada %>
    <%= f.check_box :efetuada %>
  </div>
  <div class="actions">
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>
