<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @vacina.animal.identificacao %>
  <%= @vacina.animal.nome %>
</p>

<p>
  <strong>Tipo vacina:</strong>
  <%= @vacina.tipo_vacina.descricao %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @vacina.medicamento.nome %>
</p>

<p>
  <strong>Tipo medicamento:</strong>
  <%= @vacina.medicamento.tipo_medicamento.descricao %>
</p>

<p>
  <strong>Dosagem:</strong>
  <%= @vacina.dosagem %>
</p>

<p>
  <strong>Data vacina:</strong>
  <%= @vacina.data_vacina %>
</p>

<p>
  <strong>Efetuada:</strong>
  <%= @vacina.efetuada %>
</p>



<%= link_to 'Editar', edit_vacina_path(@vacina) %> |
<%= link_to 'Back', vacinas_path %>
