<%= form_for(@cobertura) do |f| %>
  <% if @cobertura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cobertura.errors.count, "error") %> prohibited this cobertura from being saved:</h2>

      <ul>
      <% @cobertura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :animal %>
    <%= f.collection_select( :animal_id, Animal.propriedade(current_usuario), :id, :identificacaoNome ) %>
  </div>
   <div class="field">
    <%= f.label :cio_id %>
    <%= f.collection_select( :cio_id, Cio.propriedade(current_usuario), :id, :id ) %>
  </div>
   <div id="sandbox-container">
  	<%= f.label :data %>
    <%= f.text_field :data %>
  </div>   
   <script>
  	$('#sandbox-container input').datepicker({
    	language: "pt-BR",
    	format : 'yyyy/mm/dd',
    	calendarWeeks: true,
    	autoclose: true,
    	todayHighlight: true
	});
  </script>
  <div class="actions">
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>
