<h1>Coberturas</h1>

<table>
  <thead>
    <tr>
      <th>Animal</th>
      <th>Data</th>
      <th>Cio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coberturas.each do |cobertura| %>
      <tr>
      	<td><%= cobertura.animal.identificacaoNome %></td>
        <td><%= cobertura.data %></td>
        <td><%= cobertura.cio.animal.identificacaoNome %></td>
        <td><%= link_to 'Abrir', cobertura %></td>
        <td><%= link_to 'Editar', edit_cobertura_path(cobertura) %></td>
        <td><%= link_to 'Excluir', cobertura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cobertura', new_cobertura_path %>
