<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @cobertura.animal.identificacaoNome %>
</p>

<p>
  <strong>Data:</strong>
  <%= @cobertura.data %>
</p>

<p>
  <strong>Cio:</strong>
  <%= @cobertura.cio.animal.identificacaoNome %>
</p>

<%= link_to 'Editar', edit_cobertura_path(@cobertura) %> |
<%= link_to 'Voltar', coberturas_path %>
