<% remoto = false %>

<% if @animal %>
  <% remoto = true %>
<% end %>

<%= form_for(@exame, remote: remoto) do |f| %>
  <% if @exame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exame.errors.count, "error") %> prohibited this exame from being saved:</h2>

      <ul>
      <% @exame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @animal %>
    <%= f.hidden_field :animal_id, :value => @animal.id %>
  <% else %>
    <div class="field">
      <%= f.label :animal %>
      <%= f.collection_select(:animal_id, Animal.propriedade(current_usuario), :id, :identificacaoNome) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :tipo_exame_id %>
    <%= f.collection_select( :tipo_exame_id, TipoExame.all, :id, :descricao ) %>
    <%= link_to 'Novo tipo exame', new_tipo_exame_path %>
  </div>
  <div class="field">
    <%= f.label :doenca_exame %>
    <%= f.collection_select(:doenca_ids, Doenca.all, :id, :nome,{}, {:multiple => true})%>
    <%= link_to 'Nova doença', new_doenca_path %>
  </div>
  <div id="sandbox-container">
  	<%= f.label :data %>
    <%= f.text_field :data %>
  </div>   
   <script>
  	$('#sandbox-container input').datepicker({
    	language: "pt-BR",
    	format : 'yyyy/mm/dd',
    	calendarWeeks: true,
    	autoclose: true,
    	todayHighlight: true
	});
  </script>
  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :efetuado %>
    <%= f.check_box :efetuado %>
  </div>
  <div class="field">
    <%= f.label :resultado %>
    <%= f.text_field :resultado %>
  </div>
  <div class="field">
    <%= f.label :informacoes %>
    <%= f.text_area :informacoes, :size => "25x4" %>
  </div>
  <div class="actions">
    <%= f.submit 'Cadastrar', class: "btn btn-md btn-primary" %>
  </div>
<% end %>
