<%= form_for(@exame) do |f| %>
  <% if @exame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exame.errors.count, "error") %> prohibited this exame from being saved:</h2>

      <ul>
      <% @exame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :animal %>
    <%= f.collection_select(:animal_id, Animal.all, :id, :identificacaoNome) %>
  </div>
  <div class="field">
    <%= f.label :tipo_exame_id %>
    <%= f.collection_select( :tipo_exame_id, TipoExame.all, :id, :descricao ) %>
  </div>
  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :efetuado %>
    <%= f.check_box :efetuado %>
  </div>
  <div class="field">
    <%= f.label :resultado %>
    <%= f.text_field :resultado %>
  </div>
  <div class="field">
    <%= f.label :informacoes %>
    <%= f.text_field :informacoes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
