<p id="notice">
	<%= notice %>
</p>
<div class='panel panel-default'>
	<h2 class='left'>Exame</h2>
	<div class="dados-animal">

		<p>
			<strong>Animal:</strong>
			<%= @exame.animal.identificacao+' '+@exame.animal.nome %>
		</p>

		<p>
			<strong>Tipo exame:</strong>
			<%= @exame.tipo_exame.descricao %>
		</p>

		<p>
			<strong>Data:</strong>
			<%= @exame.data %>
		</p>

		<p>
			<strong>Descricao:</strong>
			<%= @exame.descricao %>
		</p>

		<p>
			<strong>Lista de doenças</strong>
		</p>

		<p>
			<% @exame.doencas.each do |doenca| %>
			<span><%= doenca.nome %></span>
			<br>
			<% end %>
		</p>
		<p>
			<strong>Efetuado:</strong>
			<%= @exame.efetuado %>
		</p>

		<p>
			<strong>Resultado:</strong>
			<%= @exame.resultado %>
		</p>

		<p>
			<strong>Informacoes:</strong>
			<%= @exame.informacoes %>
		</p>

		<%= link_to 'Edit', edit_exame_path(@exame) %> |
		<%= link_to 'Back', exames_path %>
	</div>
</div>	
