<h1>Listing ciclos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ciclos.each do |ciclo| %>
      <tr>
        <td><%= ciclo.descricao %></td>
        <td><%= link_to 'Show', ciclo %></td>
        <td><%= link_to 'Edit', edit_ciclo_path(ciclo) %></td>
        <td><%= link_to 'Destroy', ciclo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ciclo', new_ciclo_path %>
