<header>
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav nav-pills">
      <%= link_to "Polaris", root_path, class:'navbar-brand logo'%> 
      <li><%= link_to "Animais", animais_path, class: "header-text" %></li>
      <li><%= link_to "Sobre", "/sobre", class: "header-text" %></li>
      <li><%= link_to "Contato", "/contato", class: "header-text" %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a>Notificações</a></li>
      <li><%= link_to('Sair', destroy_usuario_session_path, :method => :delete, class: "header-sair") %></li>
    </ul>
  </nav>
</header>
