<!DOCTYPE html>
<html>
<head>
  <title>Polaris</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%# filepicker_js_include_tag %>
<% if usuario_signed_in? %>
  <%= render 'layouts/header_logged' %>
<% else %>
  <%= render 'layouts/header_unlogged' %>
<% end %>
<main>
  <%= yield %>
</main>
<footer>
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>
